In [150]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [151]:
order_df = pd.read_csv("data/orders.csv").sample(10000)

In [152]:
order_df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
1662934,1527625,99829,prior,8,6,20,6.0
2112892,2552682,127073,prior,2,1,10,3.0
455604,1926816,27431,prior,3,5,8,7.0
771057,2533907,46322,prior,1,5,11,NaN
1556678,2265727,93508,prior,13,2,11,7.0

In [153]:
aisles_df = pd.read_csv("data/aisles.csv")
departments_df = pd.read_csv("data/departments.csv")
order_products_df = pd.read_csv("data/order_products.csv").sample(10000)
products_df = pd.read_csv("data/products.csv")

In [154]:
aisles_df.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [155]:
departments_df.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [156]:
order_products_df.head()

          order_id  product_id  add_to_cart_order  reordered
6531396     689379       31371                 11          1
16669382   1758279       26790                  3          0
23109442   2437317       39275                  2          1
28035925   2956462       34262                  7          1
31998082   3375102       40992                  6          1

In [157]:
products_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [162]:
#connection
try:
    conn = psycopg2.connect(dbname="ecom_analysis", user='postgres', password='root', port='5432')
except:
    print("connection was unsuccessful")

In [163]:
cur = conn.cursor()

In [164]:
engine = create_engine('postgresql+psycopg2://postgres:root@localhost/ecom_analysis')

In [165]:
cur.execute("""
CREATE TABLE aisles (
    aisle_id INTEGER PRIMARY KEY,
    ailse VARCHAR
)
""")

In [166]:
cur.execute("""
CREATE TABLE departments (
    department_id INTEGER PRIMARY KEY,
    department VARCHAR(255)
)
""")

In [167]:
cur.execute("""
CREATE TABLE products (
    product_id INTEGER PRIMARY KEY,
    product_name VARCHAR(255),
    aisle_id INTEGER,
    department_id INTEGER,
    FOREIGN KEY (aisle_id) REFERENCES aisles (aisle_id),
    FOREIGN KEY (department_id) REFERENCES departments (department_id)
)
""")

In [168]:
cur.execute("""
CREATE TABLE orders (
    order_id INTEGER PRIMARY KEY,
    user_id INTEGER,
    order_number INTEGER,
    order_dow INTEGER,
    order_hour_of_day INTEGER,
    days_since_prior_order INTEGER )
""")

In [169]:
cur.execute("""
CREATE TABLE order_products (
    order_id INTEGER,
    product_id INTEGER,
    add_to_cart_order INTEGER,
    reordered INTEGER,
    PRIMARY KEY (order_id, product_id),
    FOREIGN KEY (order_id) REFERENCES orders (order_id),
    FOREIGN KEY (product_id) REFERENCES products (product_id)
    )
""")

In [170]:
conn.commit()

In [ ]:
order_df.drop('eval_set', inplace=True, axis=1)

In [ ]:
aisles_df.to_sql('aisles', con=engine, if_exists='append', index=False)

In [ ]:
departments_df.to_sql('departments', con=engine, if_exists='append', index=False)

In [ ]:
products_df.to_sql('products', con=engine, if_exists='append', index=False)

In [ ]:
order_df.to_sql('orders', con=engine, if_exists='append', index=False)

In [ ]:
order_products_df.to_sql('order_products', con=engine, if_exists='append', index=False)